<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/nosotros.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <link rel="stylesheet" href="../CSS/superslides.css">
    
    <title>Prueba</title>
</head>
<body>
    <nav>
        <div class="navcontainer">
            <div class="logo">
                <p><span style="color:rgb(255, 51, 0)">My</span> love </p>
            </div>
            <div class="optionsbar">
                <ul>
                    <li class="links"><a href="../index.html"><span class="material-symbols-outlined" style="color:rgb(240, 64, 20)">local_fire_department</span> Home</a></li>
                    <li class="links"><a href="nosotros.html"><span class="material-symbols-outlined" style="color:rgb(0, 132, 255)">water_drop</span> Nosotros</a></li>
                    <li class="links"><a href="galeria.html"><span class="material-symbols-outlined" style="color:rgb(3, 173, 3)"> psychiatry</span>Galeria</a></li>
                    <li class="links"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"><span class="material-symbols-outlined" style="color:rgb(121, 212, 235)">cloud</span> Proximamente</a></li>
                </ul>
            </div>
            <div class="toggle">
                |||
            </div>
        </div>
    </nav>

    <div id="slides" style="z-index: 1;">
        <ul class="slides-container">
            <li>
                <img src="../Assets/image/2.jpg" alt="">
            <li>
                <img src="../Assets/image/3.jpg" alt="">
            </li>
            <li>
                <img src="../Assets/image/4.jpg" alt="">
            </li>
            <li>
                <img src="../Assets/image/5.jpg" alt="">
            </li>
            <li>
                <img src="../Assets/image/6.jpg" alt="">
            <li>
                <img src="../Assets/image/7.jpg" alt="">
            </li>
            <li>
                <img src="../Assets/image/8.jpg" alt="">
            </li>
            <li>
                <img src="../Assets/image/9.jpg" alt="">
            </li>
            <li>
                <img src="../Assets/image10.jpg" alt="">
            <li>
                <img src="../Assets/image/11.jpg" alt="">
            </li>
            <li>
                <img src="../Assets/image/12.jpg" alt="">
            </li>
            <li>
                <img src="../Assets/image/13.jpg" alt="">
            </li>
            <li>
                <img src="../Assets/image/14.jpg" alt="">
            <li>
                <img src="../Assets/image/15.jpg" alt="">
            </li>
            <li>
                <img src="../Assets/image/16.jpg" alt="">
            </li>
            <li>
                <img src="../Assets/image/17.jpg" alt="">
            </li>
            <li>
                <img src="../Assets/image/18.jpg" alt="">
            <li>
                <img src="../Assets/image/19.jpg" alt="">
            </li>
            <li>
                <img src="../Assets/image/20.jpg" alt="">
            </li>
            <li>
                <img src="../Assets/image/21.jpg" alt="">
            </li>
            <li>
                <img src="../Assets/image/22.jpg" alt="">
            </li>
        </ul>

        <nav class="slides-navigation">
            <a href="#" class="next">&#62;</a>
            <a href="#" class="prev">&#60;</a>
        </nav>
    </div>

    <script src="../Scripts/app.js"></script>
    <script src="../Scripts/jquery.js"></script>
    <script src="../Scripts/jquery.superslides.js"></script>
</body>
</html>